.block {
    padding: 5px;
    margin: 5px;
    border: 2px dashed green;
}

.slides-block {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.slides-block--list {
    flex-direction: column;
    align-items: center;
}

.slide {
    margin-bottom: 10px;
}

.slide-selected {
    background-color: lightgreen;
}
